In [5]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
from datetime import date, timedelta
import garminconnect
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [6]:
load_dotenv("cred.env")
email = os.getenv("GARMIN_EMAIL")
password = os.getenv("GARMIN_PASSWORD")
tokenstore = os.getenv("GARMINTOKENS") or "~/.garminconnect"
tokenstore_base64 = os.getenv("GARMINTOKENS_BASE64") or "~/.garminconnect_base64"

In [10]:
garmin = garminconnect.Garmin(email, password)
garmin.login()
garmin.display_name

'6892029e-b335-4946-b0ec-eb9ae2e017a8'

In [25]:
samp = pd.DataFrame(garmin.get_activities(20))

In [35]:
samp = pd.DataFrame(garmin.get_activities_by_date(startdate = "2025-01-01", enddate = "2026-02-21"))

In [147]:
samp.to_csv("sample_activities.csv")
samp.drop(['floorsClimbed',
       'floorsDescended', 'jumpCount', 'avgStress', 'maxStress',
       'fastestSplit_21098', 'fastestSplit_40000', 'minRespirationRate',
       'maxRespirationRate', 'avgRespirationRate', 'startStress', 'endStress',
       'differenceStress', 'calendarEventUuid', 'aerobicTrainingEffect'], axis = 1, inplace = True)

In [67]:
def pull_from_60():
    today = date.today()
    days_to_subtract = timedelta(days=60)
    start = str(today - days_to_subtract)
    return garmin.get_activities_by_date(startdate = start, enddate = today)

In [74]:
#pull_from_60()

In [114]:
days_to_subtract = timedelta(days=60)
today = date.today()
start = str(today - days_to_subtract)
race_preds = garmin.get_race_predictions(startdate = "2025-03-01", enddate = date.today(), _type = "daily")

In [129]:
race_preds = pd.DataFrame(race_preds)
race_preds.to_csv("race_predictions.csv")

In [127]:
race_preds

,userId,fromCalendarDate,toCalendarDate,calendarDate,time5K,time10K,timeHalfMarathon,timeMarathon
0,66781132,2025-03-01,2026-02-21,2025-03-01,NaN,NaN,NaN,NaN
1,66781132,2025-03-01,2026-02-21,2025-03-02,NaN,NaN,NaN,NaN
2,66781132,2025-03-01,2026-02-21,2025-03-03,NaN,NaN,NaN,NaN
3,66781132,2025-03-01,2026-02-21,2025-03-04,NaN,NaN,NaN,NaN
4,66781132,2025-03-01,2026-02-21,2025-03-05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
353,66781132,2025-03-01,2026-02-21,2026-02-17,1153.0,2524.0,5950.0,13379.0
354,66781132,2025-03-01,2026-02-21,2026-02-18,1153.0,2524.0,5950.0,13379.0
355,66781132,2025-03-01,2026-02-21,2026-02-19,1156.0,2529.0,5963.0,13411.0
356,66781132,2025-03-01,2026-02-21,2026-02-20,1161.0,2541.0,5987.0,13466.0
357,66781132,2025-03-01,2026-02-21,2026-02-21,1161.0,2541.0,5987.0,13466.0

In [153]:
samp.columns

Index(['activityId', 'activityName', 'startTimeLocal', 'startTimeGMT',
       'activityType', 'eventType', 'distance', 'duration', 'elapsedDuration',
       'movingDuration', 'elevationGain', 'elevationLoss', 'averageSpeed',
       'maxSpeed', 'startLatitude', 'startLongitude', 'hasPolyline',
       'hasImages', 'ownerId', 'ownerDisplayName', 'ownerFullName',
       'ownerProfileImageUrlSmall', 'ownerProfileImageUrlMedium',
       'ownerProfileImageUrlLarge', 'calories', 'bmrCalories', 'averageHR',
       'maxHR', 'averageRunningCadenceInStepsPerMinute',
       'maxRunningCadenceInStepsPerMinute', 'steps', 'userRoles', 'privacy',
       'userPro', 'hasVideo', 'timeZoneId', 'beginTimestamp', 'sportTypeId',
       'avgStrideLength', 'vO2MaxValue', 'deviceId', 'minElevation',
       'maxElevation', 'avgElevation', 'maxDoubleCadence',
       'summarizedDiveInfo', 'maxVerticalSpeed', 'manufacturer',
       'locationName', 'lapCount', 'endLatitude', 'endLongitude',
       'waterEstimated', 'minActivityLapDuration', 'splitSummaries',
       'hasSplits', 'moderateIntensityMinutes', 'vigorousIntensityMinutes',
       'hasHeatMap', 'fastestSplit_1000', 'fastestSplit_1609',
       'fastestSplit_5000', 'hrTimeInZone_1', 'hrTimeInZone_2',
       'hrTimeInZone_3', 'hrTimeInZone_4', 'hrTimeInZone_5', 'endTimeGMT',
       'qualifyingDive', 'activityUUID', 'autoCalcCalories', 'favorite',
       'decoDive', 'elevationCorrected', 'atpActivity', 'purposeful',
       'manualActivity', 'pr', 'parent', 'fastestSplit_10000', 'description',
       'workoutId', 'surfaceInterval', 'avgVerticalSpeed'],
      dtype='object')

In [159]:
samp[['activityId', 'activityName', 'startTimeLocal', 'startTimeGMT',
       'activityType', 'eventType', 'distance', 'duration', 'elapsedDuration',
       'movingDuration', 'elevationGain', 'elevationLoss', 'averageSpeed',
       'maxSpeed', 'startLatitude', 'startLongitude',
       'calories', 'bmrCalories', 'averageHR',
       'maxHR', 'averageRunningCadenceInStepsPerMinute',
       'maxRunningCadenceInStepsPerMinute',
       'vO2MaxValue']][]

,activityId,activityName,startTimeLocal,startTimeGMT,activityType,eventType,distance,duration,elapsedDuration,movingDuration,...,maxSpeed,startLatitude,startLongitude,calories,bmrCalories,averageHR,maxHR,averageRunningCadenceInStepsPerMinute,maxRunningCadenceInStepsPerMinute,vO2MaxValue
0,21917818347,Madison Running,2026-02-19 07:29:57,2026-02-19 13:29:57,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",8062.649902,2368.607910,2512.733887,2347.059998,...,3.658,43.068510,-89.407486,542.0,55.0,161.0,180.0,156.500000,214.0,59.0
1,21896476569,Madison Running,2026-02-17 07:24:21,2026-02-17 13:24:21,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",8853.120117,2662.783936,2763.330078,2648.500000,...,3.648,43.068995,-89.407507,605.0,60.0,164.0,181.0,156.296875,164.0,59.0
2,21890571303,Madison Running,2026-02-16 14:50:33,2026-02-16 20:50:33,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",6455.009766,1854.649048,2001.079956,1846.929000,...,3.835,43.068800,-89.408500,435.0,42.0,167.0,186.0,156.843750,165.0,59.0
3,21880738673,Madison Running,2026-02-15 15:22:44,2026-02-15 21:22:44,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4482.439941,1312.297974,1340.871948,1304.000000,...,3.854,43.069112,-89.407860,308.0,30.0,162.0,177.0,156.468750,169.0,59.0
4,21855749047,Madison Running,2026-02-13 07:08:28,2026-02-13 13:08:28,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",11913.280273,3409.730957,3524.697998,3402.937012,...,4.050,43.068515,-89.407432,787.0,78.0,159.0,186.0,158.640625,167.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,18152645892,Madison Running,2025-01-31 11:13:40,2025-01-31 17:13:40,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4425.850098,1292.285034,1361.901978,1291.931000,...,3.714,43.068852,-89.407743,198.0,NaN,135.0,146.0,155.484375,165.0,NaN
323,18134667898,Madison Running,2025-01-29 10:40:57,2025-01-29 16:40:57,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",6491.149902,1926.062012,2017.609985,1923.605005,...,3.686,43.068897,-89.407821,323.0,NaN,144.0,167.0,155.328125,173.0,53.0
324,18115522980,Madison Running,2025-01-27 09:16:55,2025-01-27 15:16:55,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4399.770020,1334.489990,1369.050049,1333.673004,...,3.508,43.068920,-89.407987,232.0,NaN,146.0,157.0,155.593750,161.0,52.0
325,18115064283,Treadmill Running,2025-01-13 07:13:14,2025-01-13 13:13:14,"{'typeId': 18, 'typeKey': 'treadmill_running',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3715.459961,1219.693970,1232.475952,1208.000000,...,4.684,NaN,NaN,253.0,NaN,169.0,183.0,153.687500,233.0,NaN
326,17924142572,Treadmill Running,2025-01-05 10:17:11,2025-01-05 16:17:11,"{'typeId': 18, 'typeKey': 'treadmill_running',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",5583.919922,1806.151001,1806.151001,1804.757996,...,3.331,NaN,NaN,362.0,NaN,167.0,192.0,153.218750,159.0,NaN

In [167]:

def get_recent_workout_data(n_activities):
    """Fetches the most recent running activities to analyze performance."""
    num_activities = n_activities
    try:
        client = garminconnect.Garmin(os.getenv("GARMIN_EMAIL"), os.getenv("GARMIN_PASSWORD"))
        client.login()
        
        # Fetch the last few activities
        activities = client.get_activities(0, num_activities)
        
        if not activities:
            return "No recent activities found."

        activity_ids = []
        summary = "RECENT ACTIVITY ANALYSIS:"
        for i in range(len(activities)):
            latest = activities[i]
            activity_ids.append(latest.get('activityId'))

            client.get_activity(latest.get('activityId'))['summaryDTO']['averageSpeed']

            if latest.get('averagePace'):
                avgPace = str(client.get_activity(latest.get('activityId'))['summaryDTO']['averageSpeed'] * 16.0934) + "min/mile"
            else:
                avgPace = "NA"
            
            summary += f"""
            - Activity Name: {latest.get('activityName')}
            - Date: {latest.get('startTimeLocal')}
            - Distance: {latest.get('distance') / 1609.34:.2f} miles
            - Duration: {latest.get('duration') / 60:.2f} minutes
            - Avg Pace: {avgPace}
            - Avg HR: {latest.get('averageHR')} bpm
            - Max HR: {latest.get('maxHR')} bpm
            - Aerobic Training Effect: {latest.get('aerobicTrainingEffect')}
            """
        return summary
    except Exception as e:
        return f"Error fetching activity: {e}"

In [173]:
def get_workout_dataframe(n_activities):
    """Fetches recent activities and returns a DataFrame with summary stats."""
    try:
        client = garminconnect.Garmin(os.getenv("GARMIN_EMAIL"), os.getenv("GARMIN_PASSWORD"))
        client.login()
        
        activities = client.get_activities(0, n_activities)
        
        if not activities:
            return None, "No recent activities found."

        data_list = []
        for act in activities:
            # Flattening the dictionary for key metrics
            record = {
                "name": act.get('activityName'),
                "date": pd.to_datetime(act.get('startTimeLocal')),
                "distance_mi": act.get('distance', 0) / 1609.34,
                "duration_min": act.get('duration', 0) / 60,
                "avg_hr": act.get('averageHR'),
                "max_hr": act.get('maxHR'),
                "aerobic_te": act.get('aerobicTrainingEffect'),
                "calories": act.get('calories')
            }
            
            # Calculate Pace (Minutes per Mile)
            if record["distance_mi"] > 0:
                record["pace_min_mile"] = record["duration_min"] / record["distance_mi"]
            else:
                record["pace_min_mile"] = None
                
            data_list.append(record)

        df = pd.DataFrame(data_list)
        
        # Generate summary statistics for numeric columns
        summary_stats = df[['distance_mi', 'duration_min', 'avg_hr', 'pace_min_mile']].describe().T
        
        return df, summary_stats

    except Exception as e:
        return None, f"Error: {e}"

# Usage
df, stats = get_workout_dataframe(10)
print(stats)

               count        mean        std         min         25%  \
distance_mi     10.0    4.390379   1.475181    2.064828    4.009313
duration_min    10.0   34.163663  11.456541   16.027334   30.593505
avg_hr          10.0  159.800000   7.699928  147.000000  153.750000
pace_min_mile   10.0    7.781821   0.149761    7.605275    7.670553

                      50%         75%         max
distance_mi      4.052326    5.014273    7.402588
duration_min    31.638375   39.201844   56.828849
avg_hr         161.500000  166.250000  169.000000
pace_min_mile    7.734321    7.872960    8.067447

In [219]:
client = garminconnect.Garmin(os.getenv("GARMIN_EMAIL"), os.getenv("GARMIN_PASSWORD"))
client.login()
activities = client.get_activities(0, 10)
activities[0]["activityType"] #["typeId"]

{'typeId': 1,
 'typeKey': 'running',
 'parentTypeId': 17,
 'isHidden': False,
 'restricted': False,
 'trimmable': True}

In [221]:
def get_workout_dataframe(n_activities):
    try:
        client = garminconnect.Garmin(os.getenv("GARMIN_EMAIL"), os.getenv("GARMIN_PASSWORD"))
        client.login()
        activities = client.get_activities(0, n_activities)
        
        if not activities:
            return None, "No activities found."

        data_list = []
        for act in activities:
            if act["activityType"]["typeKey"] != "running":
                print("non running")
                continue
            dist_mi = act.get('distance', 0) / 1609.34
            dur_min = act.get('duration', 0) / 60
            
            # Pace Calculations
            pace_decimal = dur_min / dist_mi if dist_mi > 0 else 0
            
            # HR Zones (Converted from Seconds to Minutes)
            z1 = act.get('hrTimeInZone_1', 0) / 60
            z2 = act.get('hrTimeInZone_2', 0) / 60
            z3 = act.get('hrTimeInZone_3', 0) / 60
            z4 = act.get('hrTimeInZone_4', 0) / 60
            z5 = act.get('hrTimeInZone_5', 0) / 60

            record = {
                "Activity Name": act.get('activityName'),
                "Date": pd.to_datetime(act.get('startTimeLocal')),
                "Distance (mi)": round(dist_mi, 2),
                "Duration (min)": round(dur_min, 2),
                "Pace_Decimal": round(pace_decimal, 2),
                "Avg HR": act.get('averageHR'),
                "Max HR": act.get('maxHR'),
                "Elev Gain (ft)": round(act.get('elevationGain', 0) * 3.28084, 1),
                "Elev Loss (ft)": round(act.get('elevationLoss', 0) * 3.28084, 1),
                # HR Zone columns
                "Z1_Min": round(z1, 2),
                "Z2_Min": round(z2, 2),
                "Z3_Min": round(z3, 2),
                "Z4_Min": round(z4, 2),
                "Z5_Min": round(z5, 2)
            }
            data_list.append(record)

        df = pd.DataFrame(data_list)
        
        return df

    except Exception as e:
        return None, f"Error: {e}"

In [223]:
df = get_workout_dataframe(1)
df

,Activity Name,Date,Distance (mi),Duration (min),Pace_Decimal,Avg HR,Max HR,Elev Gain (ft),Elev Loss (ft),Z1_Min,Z2_Min,Z3_Min,Z4_Min,Z5_Min
0,Madison Running,2026-02-19 07:29:57,5.01,39.48,7.88,161.0,180.0,42.0,42.0,0.58,6.81,14.34,17.66,0.0